.createBtn {
  display: block;
  padding: 10px 80px 10px 80px;
  border: none;
}
.loginBtn {
  display: block;
  padding: 10px 100px 10px 100px;
  border-radius: 5px;
  border: 1px solid #777;
  color: #999;
  background-color: #111;
}
.happeningNow {
  color: white;
  font-size: 55px;
  font-weight: bold;
}
.joinTwitter {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.alreadyAcc {
  font-size: 28px;
  font-weight: bold;
}
@media (min-width: 785px) and (max-width: 917px) {
  .createBtn {
    display: block;
    padding: 10px 50px 10px 50px;
    font-size: 14px;
  }
}
